.squareContainer {
  flex: 1;
  margin: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 2rem;
  height: 100%;
  padding: 10px;
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
