* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e1e1e1;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  height: 100vh;
  width: 60vw;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
